@page
@model testweb.Pages.CreateTypeProductModel
@{
}

<h2>@ViewData["Title"]</h2>
<div asp-validation-summary="All"></div>
<form class="text-center" method="POST">
    <div>
        <label>Категория:</label>
        <select asp-for="Type.Parent.Id">
            <option value=@(-1)>Корень</option>
            @foreach (var item in Model.tree)
            {
                <option value=@item.Id>@item.Name</option>
            }
        </select>
    </div>

    <div>
        <label>Название</label>
        <input asp-for="Type.Name" required />
    </div>
    <div>
        <button type="submit">Добавить</button>
    </div>
</form>