@page
@model testweb.Pages.CreateModel
@{
    ViewData["Title"] = "Добавление";
}

<h2>@ViewData["Title"]</h2>

<div asp-validation-summary="All"></div>
<form class="text-center area_form" method="POST">
    <div>
        <label>Продукт:</label>
        <select class="property_field" asp-for=@Model.Product.Head.Id>
            @foreach (var item in Model.tree)
            {
                if (item.Id == Model.IdParent)
                {
                    <option value=@item.Id selected>@item.Name</option> 
                }
                else
                {
                    <option value=@item.Id>@item.Name</option>

                }
            }
        </select>
    </div>

    <div>
        <label>Название компании</label>
        <input class="property_field" asp-for="Product.NameCompany" required/>
    </div>
    <div>
        <label>Название продукта</label>
        <input class="property_field" asp-for="Product.Name" required/>
    </div>

    <div>
        <label>Кол-во</label>
        <input class="property_field" asp-for="Product.Amount" required/>
    </div>

    <div>
        <label>Цена за штуку</label>
        <input class="property_field" asp-for="Product.Price" min="0" required/>
    </div>

    <div>
        <button class="btn-add" type="submit">Добавить</button>
    </div>
</form>

