@page
@model testweb.Pages.EditTypeModel
@{
    ViewData["Title"] = "EditType";
}


<h2 class="text-center">Редактирование информации о типе</h2>

<form class="text-center area_form" method="post">
    <div asp-validation-summary="All"></div>
    <input asp-for="Type.Id" type="hidden" />

    <div>
        <label>Родительская категория</label>
        <select class="property_field" asp-for="Id">
            <option value=@null>Корень</option>
            @foreach (var item in Model.Types)
            {
                if(item.Id == Model.Type.Id)
                {
                    continue;
                }

                if(Model.Type.Parent != null && item.Id == Model.Type.Parent.Id)
                {
                    <option value=@item.Id selected>@item.Name</option>
                }
                else
                {
                    <option value=@item.Id>@item.Name</option>
                }
                
            }

           
        </select>
    </div>

    <div>
        <label>Название</label>

        <div class="property_field">
            <input asp-for="Type.Name" />
            <span asp-validation-for="Type.Name"></span>
        </div>
    </div>

    <div>
        <input class="btn-add" type="submit" value="Применить"/>
    </div>
</form>