.table_main {
    margin: 0;
    max-width: none;
    width: auto;
}

.page {
    display: flex;
    justify-content: center;
}

.table_product__row {
    border: 0 !important;
}

.table_icon_button {
    padding: 2px 2px 5px 0px;
    display: inline;
}

.table_icon_button_catalog {
    padding: 1px 1px 2px 2px;
    display: inline-table;
    position: absolute;
    right: 0;
    top: 0;
    margin-left: 30px;
}

.table_icon_button_catalog_edit {
    padding: 1px 1px 2px 2px;
    display: inline-table;
    position: absolute;
    right: 28px;
    top: 0;
    /* margin-right: 20px;*/
}

.table_icon_catalog_btn {
    background-color: #2f2e2e;
}

.table_catalog {
    position: relative;
    min-width: 120px;
}

    .table_catalog:hover {
        background-color: #2f2e2e;
        border-color: #262626;
        border-style: solid;
        border-width: 1px;
    }

    .table_catalog:hover .table_catalog_control {
        display: block;
    }



.table_catalog_control {
    display: none;
}

.table_catalog_text {
}

.table_icon_button:focus {
    border: 0;
}

.product_table {
    margin-bottom: 50px !important;
}

.btn-add {
    /*margin-top: 350px !important;*/
    background-color: #2c3a62;
    color: white;
    padding: 5px;
    border: 0;
    border-radius: 3px;

    float: right;
    margin: 5px;
}

.btn-add:hover {
    color: white;
    text-decoration: none;
    border-color: #343a82;
    border-width: 2px;
}

.property_field {
    float: right;
    border-radius: 3px;
}